# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Allow the Gradle Wrapper to be checked in
!catalog-service/gradle/wrapper/gradle-wrapper.jar
!catalog-service/gradle/wrapper/gradle-wrapper.properties

# Eclipse
*.classpath
*.project
*.settings/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Others
node_modules/

# Test output
/test-results/
/reports/

# Temporary files
*.tmp
*.bak
*.swp

# Environment files
.env
bin
